<div id="ask">
<div id="userInfo">
    <div class="container cleafix">
        <div class="userIcon pull-left">
            <img src='{{headImageUrl}}' class="img-circle user-avatar" />
        </div>
        <p>
        {{userName}}向你承诺<br /><span id="remainingTime">{{remainingTime}}</span> 秒内有问必答
        </p>
    </div>
</div>

{{#yourAnswer}}
<div id="yourAnswerContainer">
<h3>你的问题</h3>
<ul class="comments">
<li id="yourAnswer" class="comment clearfix"  data-entranceAnimation="fadeInDown">
    <div class="comment-col-1">
        <div class="avatar">
            <div class="avatarBackground backgroundColor-{{userAnswerBackground}}">
             </div>
             <img src="app/img/secret/avatar-{{userAnswerIcon}}@2x.png" />
        </div>
    </div>
    <div class="comment-col-2">
            <div class="comment-content">{{userAnswerText}}</div>
            {{#repliedByUserAnswers}}
            <div class="comment-reply">{{userAnswerText}}</div>
            {{/repliedByUserAnswers}}
            {{^repliedByUserAnswers}}
            <div class="comment-waiting">等待{{userName}}回答...</div>
            {{/repliedByUserAnswers}}
    </div>
    {{^repliedByUserAnswers}}
    <button id="remindUser" class="btn btn-default btn-sm  btn-share">提醒Ta</button>
    {{/repliedByUserAnswers}}
    
</li>
</ul>
</div>
{{/yourAnswer}}

{{^yourAnswer}}
<div id="createAnswer">
    <div  class="container">
    <input  id="newUserAnswer" placeholder="我想问..." class="form-control input-lg" type="text" />
    <button id="btnAsk" class="btn btn-default btn-block">就问这个了</button>
    </div>
</div>
<div id="answerTips">
        <h3><small>暗黑问题大全 点击快速提问</small></h3>
        <ul class="comments">
                {{#QuestionTips}}
                <li class="comment tips">{{text}}</li>
                {{/QuestionTips}}
        </ul>
</div>
{{/yourAnswer}}

{{#yourAnswer}}
<div id="allAnswers">
    <h3>所有问题</h3>
    <ul id="userAnswerWrapper" class="comments">
    {{#userAnswers}}
        {{> userAnswer}}
    {{/userAnswers}}
    </ul>
</div>
{{/yourAnswer}}
</div>