<div id="reply">
    <div id="userInfo" class="container">
        <div class="userIcon pull-left">
            <img src='{{headImageUrl}}' class="img-circle user-avatar" />
        </div>
        <p>
        {{userName}}向亲友承诺，<br /><span id="remainingTime">1000</span>秒内{{questionText}}
        </p>
    </div>

    <h3><small>有 {{numOfQuestionsToAnswer}}个问题等待回答 点击问题即可回答</small></h3>

    {{^userAnswers}}
        <div id="shareTips" class="container">
                <big>伤感，还没有人提问...</big>
                <p>马上分享， 让朋友<em>匿名</em>提问吧！</p>
        </div>
    {{/userAnswers}}  

    <ul class="comments">
        {{#userAnswers}}
        <li class="comment clearfix">
            <div class="comment-col-1">
                <div class="avatar">
                    <div class="avatarBackground backgroundColor-{{userAnswerBackground}}">
                     </div>
                     <img src="app/img/secret/avatar-{{userAnswerIcon}}@2x.png" />
                </div>
            </div>
            <div class="comment-col-2">
                <div class="comment-content">{{userAnswerText}}</div>
                
                {{#repliedByUserAnswers}}
                <div class="comment-reply">
                你的回答：{{userAnswerText}} 
                </div>
                {{/repliedByUserAnswers}}
                {{^repliedByUserAnswers}}
                <div class="comment-reply-form">
                    <textarea placeholder="真诚的回答" class="form-control" rows="2"></textarea>
                    <button class="reply btn btn-default btn-block" id="reply-{{userAnswerId}}" data-useranswerid={{userAnswerId}}>好</button>
                </div>
                {{/repliedByUserAnswers}}
            </div>
        </li>
        {{/userAnswers}}
    </ul>

    <div class="container">
        <a href="javascript:void(0)" id="replyShareOnCircle" class="btn btn-default btn-block btn-share" >分享到朋友圈</a>
    </div>
</div>
