<div id="reply" class="container">


    <div>
        <img src='{{headImageUrl}}' class="img-circle user-avatar" />
    </div>
    <div>
        {{questionText}}
        {{userName}} 于 {{createdAt}}
    </div>
    <div>
            有 {{numOfQuestionsToAnswer}}个问题等待回答 <br />
            点击问题即可回答

        {{^userAnswers}}
            尚未收到回复<br />
            把这个页面分享到朋友圈或微信群，让朋友们来回复吧。
        {{/userAnswers}}
    </div>
    

<div>
    {{#userAnswers}}
        <div>
            {{userAnswerText}}
        </div>
        {{#repliedByUserAnswers}} 你的回答：<b>{{userAnswerText}}</b>{{/repliedByUserAnswers}}
        {{^repliedByUserAnswers}}
        <div>
            <textarea placeholder="回答写在此处"></textarea>
            <a class="reply" class="btn btn-default"  href="javascript:void(0)" id="reply-{{userAnswerId}}" data-useranswerid={{userAnswerId}}>好</a>
        </div>
        {{/repliedByUserAnswers}}
    {{/userAnswers}}
</div>
</div>
