<div id="start">
<div id="start-bg">
    <div class="start-text">
    <span class="text-zero">你</span>
    <span class="text-alpha">觉得</span>
    <span class="text-beta">我</span>
    <span class="text-zero">是一个</span>
    <span class="text-beta">怎样</span>
    <span class="text-alpha">的</span>
    <span class="text-zero">人？你还</span>
    <span class="text-gamma">单</span>
    <span class="text-alpha">身</span>
    <span class="text-beta">吗</span>
    <span class="text-zero">？你</span>
    <span class="text-alpha">不忙</span>
    <span class="text-zero">的时候</span>
    <span class="text-beta">喜欢</span>
    <span class="text-alpha">做什</span>
    <span class="text-gamma">么</span>
    <span class="text-zero">？你</span>
    <span class="text-beta">现在</span>
    <span class="text-gamma">有喜</span>
    <span class="text-zero">欢的</span>
    <span class="text-beta">人</span>
    <span class="text-alpha">么</span>
    <span class="text-zero">？最近哭</span>
    <span class="text-alpha">过么</span>
    <span class="text-beta">？</span>
    <span class="text-zero">告诉我</span>
    <span class="text-gamma">你的</span>
    <span class="text-alpha">真实体</span>
    <span class="text-gamma">重</span>
    <span class="text-beta">好么</span>
    <span class="text-alpha">？</span>
    <span class="text-alpha">上一</span>
    <span class="text-gamma">次</span>
    <span class="text-zero">约</span>
    <span class="text-alpha">会是</span>
    <span class="text-zero">什么</span>
    <span class="text-beta">时</span>候？你<span class="text-alpha">和</span><span class="text-gamma">他</span><span class="text-beta">是怎</span>样<span class="text-beta">认识</span><span class="text-gamma">的</span><span class="text-beta">？</span>
    </div>
    <img src='{{headImageUrl}}' class="img-circle user-avatar fadeInUp"  />
</div>
<div id="startContent" class="container">
    <p id="start-intro">
    </p>
    <div id="start-user" class="clearfix">
        
        <div>{{userName}}</div></div>
    <div class="form-group">
    <label class="control-label" for="validThrough">点击下面按钮，朋友就可以在此匿名提问<br />希望得到你的回答</label>
    <div class="input-group input-group-lg hidden" id="start-formgroup">
          <input type="number" value="3" class="form-control" id="validThrough" name="validThrough" placeholder="请输入时间" min="1" max="48" pattern="\d*"/>
          <span class="input-group-addon">小时</span>
    </div>
    
    </div>
    
    <a href="javascript:void(0)" id="confirmAndAsk" class="btn btn-block btn-lg btn-default" >开始有问必答</a>


</div>


</div>