/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

::selection {
    background: none;
}
html,body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
}
body {
    background: #FFF;
    text-align: center;
    font-family: "Microsoft Yahei", sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}
#stage {
padding-bottom: 90px;
}
a,.btn,.btn-link {
    color: #0abab5;
}
.btn {
    border-radius: .2rem;
    padding: 15px 10px;
    letter-spacing: 0.02rem;
    display: inline-block;
    text-decoration: none;
}
.btn-defualt {
    color: #fff;
    background-color: #444;
}
.btn.disabled,.btn:hover.disabled,.btn:active.disabled {
    color: #333;
    border:1px solid #dedede;
}


button, input, optgroup, select, textarea {
    margin: 0;
}


.loading-info em {
    color: #ffd800;
    font-style: normal;
}
#preload,#loading {
    width: 100%;
    position: absolute;
    position: fixed;
    left: 0;
    top:35%;
    text-align: center;
}
#loading {
    display: none;
}
.loading-img img{
    width: 31px;
}
.container {
    max-width: 750px;
    margin: 0 auto;
}
.form-control {
    -webkit-box-shadow:none;
    box-shadow: none;
    -webkit-appearance: none;
}
.user-avatar {
    width: 36px;
    border:1px solid #444;
}
#start-bg {
    width: 100%;
    height: 260px;
    padding: 30px 0;
    background:url(../../app/img/stars.jpg) center top;
    background-size: 100% auto;
    overflow: hidden;
    position: relative;
}
#start-bg .user-avatar {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    margin-left: -30px;
}
.start-text {
    font-size: 20px;
    line-height: 30px;
    color:rgba(255,255,255,0.7);;
    padding: 0 1.5em;
    height: 150px;
    overflow: hidden;
}
.text-alpha {
    color: rgba(255,255,255,0.2);
}
.text-beta {
    color: rgba(255,255,255,0.4);
}
.text-gamma {
    color: rgba(255,255,255,0);
}
#start-cover,#reply-cover {
    position: relative;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
}
#start-cover-img,#reply-cover-img {
    height: 150px;
}
#start-cover-avatar {
    position: absolute;
}
#start-user {
    font-size: 18px;
    margin-bottom: 0.2em;
    margin-top: 1em;
    vertical-align: middle;
    line-height: 24px;
}
#start-user .user-avatar {
    border:1px solid #444;
    width: 36px;
    height: 36px; 
}
#start-formgroup {
    margin: 20px auto;
}
#start-intro {
    margin: 0.5em 0 0;
    color: #999;
}
.control-label {
    font-weight: normal;
    color: #999;
}
#reply-rule {
    margin: 10px 0 20px;
    text-align: left;
}
#reply-rule h3 {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 20px;
}
#reply-rule ol {
    margin-bottom: 20px;
}
#reply-action .btn {
    min-width: 45%;
}
.btn-block {
    max-width: none;
}
h3 {
    font-size: 16px;
    text-align: left;
    margin-top: 15px;
}
.pl15 {
    padding-left: 15px;
}
h3 small {
    font-size: 12px;
}
em {
    color: #0abab5;
    font-style: normal;
}
.btn-default:hover em {
    color: #FFF;
}
#ask h3 {
    position: relative;
}


#reply-rule li{
    margin-bottom: 10px;
}
#userInfo {
    padding-top:15px;
    text-align: left;
}
#userInfo .user-avatar {
    margin-bottom: 10px;
    margin-right: 10px;
}
#newUserAnswer {
    margin-bottom: 10px;
}
#answerTips .comments {

}

.post-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    opacity: 0.6;
    
}
.insetShadow {
   -moz-box-shadow:    inset 0 0 100px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.3);
   box-shadow:         inset 0 0 100px rgba(0,0,0,0.3);
}
.boxShadow {
   -moz-box-shadow:    0 0 10px rgba(0,0,0,0.5);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
   box-shadow:         0 0 10px rgba(0,0,0,0.5);    
}
.comments,.comment {
    list-style: none;
    margin: 0;
    padding: 0;
}
.comments .comment:first-child {
}
.comment {
    padding: 1.5em 0;
    border-bottom: 1px dashed #dadada;
}
.tips {
    padding: 1em 15px;
    font-size: 1.2em;
    text-align: left;
    cursor: pointer;
    background-color: #F0F0F0;
}
.tips:active,.tips:focus,.tips:hover {
   color: #0abab5;
   background-color: #FFF;
}
.comment-col-1, .comment-col-2 {
    
    display: inline-block;
}
.comment-col-1 {
    width: 60px;
    padding-left: 15px;
    float: left;
}
.comment-col-2 {
    width: 74%;
    float: left;
}
.comment-content {
    text-align: left;
    font-size: 1em;
    line-height: 1.4em;
    padding: 2px 0;
}
.comment-reply {
    text-align: left;
    padding-top: 10px;
    border-top: 1px dashed #dedede;
    margin-top: 10px;
    color: #777;
}
.comment-reply .comment-col-1 {
    padding-left: 0;
    width: 40px;
}
.comment-reply-tip {
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top:-20px;
}
.comment-reply .user-avatar {
    position: relative;
    left: -10px;
    top:-3px;
}
.comment-waiting {
    color: #999;
    text-align: left;
    font-size: 0.9em;
}
.comment-reply-form {
    padding: 15px 0;
}
.comment-reply-form .form-control {
    margin-bottom: 10px;
}

.unreplied {
    cursor: pointer;
    background-color: #f0f0f0;
}
.unreplied:hover,.unreplied:active {

}
.unreplied .comment-col-2 {
    position: relative;
}
#remindUser {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top:-30px;
}
#shareTips {
    text-align: left;
    margin-bottom: 20px;
}
#yourAnswer {
    position: relative;
}
#replyShareOnCircle {
    margin-top: 20px;
}
.comment .avatar {
    width: 36px;
    height: 36px;
}
.avatar {
    width: 24px;
    height: 24px;
    padding: 6px;
    border-radius: 18px;
    position: relative;
}
.avatarBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    left: 0;
    top: 0;
    opacity: 0.6;
}
.avatar img {
    width: 100%;
    height: 100%;
    position: relative;
}

.logo-right {
    position: absolute;
    right: 0;
    top:0;
}
.qrcode {

   width: 140px;
   height: 140px;
   margin: 0 auto;
   border:1px solid #dedede;
   margin-bottom: 40px;
}
.qrcode img {
    width: 100%;
    height: 100%;
}
#foxhole{
    width: 48px;
}
#download {
    width: 100px;
    margin-bottom: 20px;
}

/*Cobalt Skyfall Aquamarine Olive Cash EmeraldSea Hopscotch Lavender Burst Cupid Peony Midnight  Vanilla */

.backgroundColor-Cobalt,
.backgroundColor-Skyfall,
.backgroundColor-Aquamarine,
.backgroundColor-Olive,
.backgroundColor-Cash,
.backgroundColor-EmeraldSea,
.backgroundColor-Hopscotch,
.backgroundColor-Lavender,
.backgroundColor-Burst,
.backgroundColor-Cupid,
.backgroundColor-Peony,
.backgroundColor-Midnight
 {
    background-color: #434343;
    color: #FFF;
}
.backgroundColor-Vanilla {
    background-color: #FFF;
    color: #434343;
}

.backgroundColor-Cobalt {
    background-color: #0047AB;
}
.backgroundColor-Skyfall {
    background-color: #00bfff;
}
.backgroundColor-Aquamarine {
    background-color: #66ddaa;
}
.backgroundColor-Olive {
    background-color: #808000;
}
.backgroundColor-Cash {
    background-color: #556b2f;
}
.backgroundColor-EmeraldSea {
    background-color: #0abab5;
}
.backgroundColor-Hopscotch {
    background-color: #b19cd9;
}
.backgroundColor-Lavender {
    background-color: #734f96;
}
.backgroundColor-Burst {
    background-color: #e9692c;
}
.backgroundColor-Burst {
    background-color: #e9692c;
}
.backgroundColor-Cupid {
    background-color: #ae3532;
}
.backgroundColor-Peony{
    background-color: #df6880;
}
.backgroundColor-Vanilla .icon-comment {
    background-image: url(../../app/img/secret/icon-comment-collectible-gray@2x.png);
}

.backgroundColor-Vanilla .icon-heart {
    background-image: url(../../app/img/secret/icon-heart-collectible-gray@2x.png);
}
/*Carbon Timber Disco  Haze Twilight Distressed Metal Tweed Grime Dream Denim Glow Plain Concrete */
.backgroundMask-Carbon,
.backgroundMask-Timber,
.backgroundMask-Disco,
.backgroundMask-Haze,
.backgroundMask-Twilight,
.backgroundMask-Distressed,
.backgroundMask-Metal,
.backgroundMask-Tweed,
.backgroundMask-Grime,
.backgroundMask-Dream,
.backgroundMask-Denim,
.backgroundMask-Glow,
.backgroundMask-Concrete,
.backgroundMask-Custom
{
    color: #FFF;
}
.backgroundMask-Plain {
    background-image: none;
}
.backgroundMask-Carbon {
    background-image: url(../../app/img/secret/mask-carbon.png);
}
.backgroundMask-Timber {
    background-image: url(../../app/img/secret/mask-wood.png);
}
.backgroundMask-Disco {
    background-image: url(../../app/img/secret/mask-techno.png);
}
.backgroundMask-haze {
    background-image: url(../../app/img/secret/mask-ethereal.png);
}
.backgroundMask-Twilight {
    background-image: url(../../app/img/secret/mask-twilight.png);
}
.backgroundMask-Distressed {
    background-image: url(../../app/img/secret/mask-metal.png);
}
.backgroundMask-Metal {
    background-image: url(../../app/img/secret/mask-metallic.png);
}
.backgroundMask-Tweed {
    background-image: url(../../app/img/secret/mask-tweed.png);
}
.backgroundMask-Grime {
    background-image: url(../../app/img/secret/mask-grime.png);
}
.backgroundMask-Dream {
    background-image: url(../../app/img/secret/mask-ethereal.png);
}
.backgroundMask-Denim {
    background-image: url(../../app/img/secret/mask-denim.png);
}
.backgroundMask-Glow {
    background-image: url(../../app/img/secret/mask-smoke.png);
}
.backgroundMask-Concrete {
    background-image: url(../../app/img/secret/mask-concrete.png);
}
.backgroundMask-Custom {
    background-position: center center;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.postBackground {
    position: absolute;
    left: 50%;
    top:50%;
    width: 120%;
}
.postIcon {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.pull-left {
    float: left;
    display: inline-block;
}
#bottomBanner {
    width: 160px;
    padding: 10px 15px;
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    vertical-align: top;
}
#bottomBanner img {
    margin-right: 15px;
    width: 35px;
}
#bottomBanner p {
    margin: 0;
}
.comment-download {
    border-radius: 0 0 10px 10px;
}
.comment-caret {
    width: 0;
    height: 0;
    border-left-width: 20px;
    border-right-width: 20px;
    border-top-width: 20px;
    border-bottom-width: 0;
    font-size: 1;
    line-height: 0;
    border-style: solid;
    border-color:#FFFFFF transparent transparent transparent;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
}
.btn-default,.btn-default:focus {
    background-color: #444;
    color: #FFF;
}
.btn-default:hover,.btn-default:active {
    background-color: #0abab5;
    color: #FFF;
}
.post-subTitle {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    font-size: 14px;
    left: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.7);
    color: #444;
    line-height: 22px;
    font-size: 16px;
    display: none;
    z-index: 99;
}
#downloadArrow {
    float: right;
    width: 110px;
    height: 90px;
    margin-right: 20px;
    
}
.blur {
    -webkit-filter: blur(4px);
}
#createAnswer {
    position: fixed;
    width: 100%;
    left: 0;
    top: 60px;
    background: rgba(255,255,255,0.9);
    z-index: 1;
    padding-bottom: 15px;
    padding-top: 5px;
}

#ask #userInfo {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
    background: rgba(255,255,255,0.9);
    z-index: 1;
}
#answerTips {
    padding-top: 175px;
    padding-bottom: 30px;
}
#yourAnswerContainer {
    padding-top: 60px;
}
.startActivity {
    position: fixed;
    right: 10px;
    bottom: 55px;
    width: 70px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: #444;
    color: #FFF;
    z-index: 1;
    text-align: center;
    font-size: 1.2em;
}
.btn-share,.restart {
    cursor: pointer;
}
#bottomAd {
    display: block;
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 5px;
    color: #FFF;
    background: #222;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
}
#bottomAd img {
    max-height: 80%;
    position:absolute;
}
#bottomAd .pull-left {
    left: 10px;
    top: 15%;
    height: 70%;
}
#bottomAd .pull-right {
    right: -5px;
    top: 10%;
}
@-webkit-keyframes fadeinup {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-opacity: 0;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-opacity: 1;
    opacity: 1;
  }
}

@keyframes fadeinup {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-opacity: 0;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes textalpha {
  0% {
    color: rgba(255,255,255,0.4);
  }

  50% {
    color: rgba(255,255,255,0.8);
  }
  100% {
    color: rgba(255,255,255,0.4);
  }
}

@keyframes textalpha {
  0% {
    color: rgba(255,255,255,0.4);
  }

  50% {
    color: rgba(255,255,255,0);
  }
  100% {
    color: rgba(255,255,255,0.4);
  }
}
@-webkit-keyframes textbeta {
  0% {
    color: rgba(255,255,255,0.2);
  }

  50% {
    color: rgba(255,255,255,0.1);
  }
  100% {
    color: rgba(255,255,255,0.2);
  }
}

@keyframes textbeta {
  0% {
    color: rgba(255,255,255,0.2);
  }

  50% {
    color: rgba(255,255,255,0.1);
  }
  100% {
    color: rgba(255,255,255,0.2);
  }
}
@-webkit-keyframes textgamma {
  0% {
    color: rgba(255,255,255,0);
  }

  50% {
    color: rgba(255,255,255,0.2);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}

@keyframes textgamma {
  0% {
    color: rgba(255,255,255,0);
  }

  50% {
    color: rgba(255,255,255,0.2);
  }
  100% {
    color: rgba(255,255,255,0);
  }
}
@-webkit-keyframes textzero {
  0% {
    color: rgba(255,255,255,0.6);
  }

  50% {
    color: rgba(255,255,255,0.1);
  }
  100% {
    color: rgba(255,255,255,0.6);
  }
}

@keyframes textzero {
  0% {
    color: rgba(255,255,255,0.6);
  }

  50% {
    color: rgba(255,255,255,0.1);
  }
  100% {
    color: rgba(255,255,255,0.6);
  }
}
.fadeInUp {
  -webkit-animation: fadeinup 1s ; /* Safari 4+ */
  animation:         fadeinup 1s ; /* IE 10+ */
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both; /* Safari and Chrome */
  animation-delay:500ms;
  -webkit-animation-delay: 500ms; 

}
.text-alpha {
  -webkit-animation: textalpha 5s infinite; /* Safari 4+ */
  animation:         textalpha 5s infinite; /* IE 10+ */
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both; /* Safari and Chrome */   
}
.text-beta {
  -webkit-animation: textbeta 4s infinite; /* Safari 4+ */
  animation:         textbeta 4s infinite; /* IE 10+ */
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both; /* Safari and Chrome */   
  animation-delay:500ms;
  -webkit-animation-delay: 500ms; 
}
.text-gamma {
  -webkit-animation: textgamma 4s infinite; /* Safari 4+ */
  animation:         textgamma 4s infinite; /* IE 10+ */
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both; /* Safari and Chrome */   
}
.text-zero {
  -webkit-animation: textzero 6s infinite; /* Safari 4+ */
  animation:         textzero 6s infinite; /* IE 10+ */
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both; /* Safari and Chrome */   
  animation-delay:500ms;
  -webkit-animation-delay: 500ms; 
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
     .post-content {
        font-size: 1.6em;
        line-height: 1.5em;
        padding-top: 4em;
        padding-bottom: 4em;
    
    }
    .post {
        min-height: 280px;
        height: 280px;
    }
    #download {
        width: 160px;
    }   
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
