<div>
    快成功了，还剩两步：
    1. 把问题分享到朋友圈， 让朋友匿名回复
    2. 关注秘密公众账号，查看朋友的回复
</div>
<div id="reply-action">
    <a href="javascript:void(0)" id="shareOnCircle">分享到朋友圈</a>
    <a href="javascript:void(0)" id="follow">关注秘密公众账号</a>
</div>

<div>
    <div>
        <img src='{{headImageUrl}}' />
    </div>
    <div>
        {{questionText}}
        {{userName}} 于 {{createdAt}}
    </div>
    <div>
            有 {{numOfQuestionsToAnswer}}个问题等待回答 <br />
            点击问题即可回答

        {{^userAnswers}}
            尚未收到回复<br />
            把这个页面分享到朋友圈或微信群，让朋友们来回复吧。
        {{/userAnswers}}
    </div>
    
</div>

<div>
    {{#userAnswers}}
        <div>
            {{userAnswerText}}
        </div>
    {{/userAnswers}}
</div>
