<div>
    提任何问题，让朋友匿名回复，只有你看见回复
</div>
<div>
    <textarea id="yourQuestion" placeholder="你的问题" >
    </textarea> 
</div>
<div>
    <a href="javascript:void(0)" id="confirmAndAsk">提问</a>
</div>

<div id="simpleQuestion-Answers">
    <div>
        参考问题(点击快速提问)
    </div>
    <div>
        <a class="tips" href="javascript:void(0)">你觉得我为什么至今单身</a>
        <a class="tips" href="javascript:void(0)">真心求怒揭缺点！！！我不想放弃治疗</a>
        <a class="tips" href="javascript:void(0)">在你眼里我是一个怎样的存在</a>
        <a class="tips" href="javascript:void(0)">大家觉得我是个怎样的人？（可喷可黑求猛力）</a>
    </div>
</div>